{"localhost":{"":{"=":{},"$":{},".":{},"?":{},"-":{"index.html":""},"&":{},"!":{"A":"","S":"0","C":"0","R":"0","W":"0","E":""}}},"_":{";":"-.-","#":"-,-","&":"-_-"},"@":{},"#":{"0":"OKZGN Turbo\\n{TURBO_RESPONSE_CODE}"},".":{"M":"{TURBO_CURRENT_DIR}","RT":"5s","RHT":"1s","WT":"10s","IT":"2s","MUB":"1000","MHB":"5000","MBB":"1048576","CIL":"1000","CIS":"100","CII":"100"}}